*{
    font-family: "Nerko One", cursive;
    font-size: 20px;
}
.date{
    color: black;
}
.mobile{
    color: black;
}

div{
    border: 5px solid black;
    margin: 100px 100px 100px 100px;
    padding: 100px 100px 100px 150px;
    display: flex;
}
img{
    padding: 100px 50px 100px 50px;
}
form{
    padding: 100px 50px 100px 50px;
}
h1{
    font-size: 40px;
}